<app-nav/>

<section class="background">
  <section class="models-section">
    <article class="botones">
      <button (click)="mostrarMujer()">MUJER</button>
      <button (click)="mostrarHombre()">HOMBRE</button>
    </article>
  </section>

  <section class="images-menu">
    <img
      class="img-model-dama"
      *ngIf="modeloMujer"
      src="../../../assets/img-main/modeloMujerIncognita.png.png"
      alt="Camisa azul"
    />
    <img
      class="img-model-hombre"
      *ngIf="modeloHombre"
      src="../../../assets/img-main/modeloHombreIncognitaDos.png-removebg-preview.png"
      alt="Camisa roja"
    />
  </section>

  <article class="first">
    <p class="titul-inco">INCO</p>
    <img
      class="img-logo"
      src="../../../assets/img-main/logoSimboloIncognitaPNG.png"
      alt="logo"
    />
    <p class="titul-inco">NITA</p>
  </article>
</section>
<app-footer />
