@import url("https://fonts.googleapis.com/css2?family=Footlight MT Light:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap&family=Times New Roman");

.background {
  background-image: url("../../../assets/img-main/fondoVertigoRojo.jpg.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
  color: white;
}

.menu{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  text-align: left;
}

.list-item{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  
}

.item{
  margin-right: 15px;
  padding: 15px;
  font-family:Times New Roman ;
  
  
}

.titul-inco {
  font-family: "Footlight MT Light", serif;
  color: white;
  font-size: 100px;
}

.img-logo {
  height: 100px;
}

.first {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 100vw;
  height: 5vh;
  
}

.img-model{
  width: 320px;
 

}