<section class="background">
  <article class="menu">
    <ul class="list-item">
      <li class="item">Log in</li>
      <li class="item">Register</li>
      <li class="item">Cart</li>
    </ul>
  </article>
    <article class="botones">
      <section class="images-menu">
        <img class="img-model" *ngIf="modeloMujer" src="../../../assets/img-main/modeloMujerIncognita.png.png" alt="Camisa azul">
        <img class="img-model" *ngIf="modeloHombre" src="../../../assets/img-main/modeloHombreIncognitaDos.png-removebg-preview.png" alt="Camisa roja">
      
        <button (click)="mostrarMujer()">MUJER</button>
        <button (click)="mostrarHombre()">HOMBRE</button>
      </section>
    </article>

    <article class="first">
     
      <p class="titul-inco">INCO</p>
      <img class="img-logo" src="../../../assets/img-main/logoSimboloIncognitaPNG.png" alt="logo" />
      <p class="titul-inco">NITA</p>
    </article>
</section>
<app-footer/>
