<section class="background">
  <article class="menu">
    <ul class="list-item">
      <li class="item">Log in</li>
      <li class="item">Register</li>
      <li class="item">Cart</li>
    </ul>
  </article>
    <article class="botones">
        <button class="btn-gender">Mujer</button>
        <button class="btn-gender">Hombre</button>
    </article>

    <article class="first">
     
      <p class="titul-inco">INCO</p>
      <img class="img-logo" src="../../../assets/img-main/logoSimboloIncognitaPNG.png" alt="logo" />
      <p class="titul-inco">NITA</p>
    </article>
</section>
<app-footer/>
