main {
  background-color: rgb(54, 51, 51);
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.caja-principal {
  background-color: rgb(194, 186, 186);

  width: 20vw;
  height: 100vh;
}

.login {
  margin-left: 38%;
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mb-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.botones {
  margin: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
 
.register {
  background-color: rgb(169, 240, 240);
  padding: 15px;
  border-radius: 10px;
  margin: 15px;
}

.boton-login {
  background-color: rgb(169, 240, 240);
  padding: 15px;
  border-radius: 10px;
  margin: 15px;
}