<app-nav />
<main>
  <div
    class="min-h-screen flex items-center justify-center bg-cover bg-center dark:bg-zinc-900"
    style="background-image: url('https://placehold.co/800x600')"
  >
    <div class="caja-principal">
      <h2 class="login">Login</h2>
      <form>
        <div class="mb-4">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="mb-4"
            placeholder="username@company.com"
          />
        </div>
        <div class="mb-4">
          <label for="password" class="mb-4">Password</label>
          <input
            type="password"
            id="password"
            class="mb-4"
            placeholder="password"
          />
        </div>
        <div class="mb-4">
          <label class="flex items-center">
            <input type="checkbox" class="form-checkbox" />
            <span class="ml-2 text-sm text-zinc-600 dark:text-zinc-300"
              >Remember me</span
            >
          </label>
          <a class="mb-4">Forgot Password?</a>
        </div>
        <div class="botones">
          <button class="register" type="button">Register</button>
          <button class="boton-login" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</main>
<app-footer />
