<!-- <article class="card">
  <div class="col-12 col-sm-6 col-lg-3">
    <div class="product">
      <figure>
        <img [src]="imagen" [alt]="titulo" />
        <figcaption>
          <span class="featured">available</span>
          <h3>{{ titulo }}</h3>
          <p>$ {{ precio }}</p>
        </figcaption>
      </figure>
    </div>
  </div>
</article> -->

<span class="card" style="width: 18rem">
  <figure>
    <img [src]="imagen" [alt]="titulo" />
    <div class="card-body">
      <h3>{{ titulo }}</h3>
      <p>$ {{ precio }}</p>
      <button href="#" class="btn btn-primary"(click)="addToCart(producto)">Añadir al carrito</button>
    </div>
  </figure>
</span>
