<footer class="pt-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 mb-4">
        <strong>BIT Shop</strong>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title">Social networks</li>
          <li>Instagram</li>
          <li>Facebook</li>
          <li>Tiktok</li>
          <li>Pinterest</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title">Us</li>
          <li>About us</li>
          <li>Location</li>
          <li>What do we produce</li>
          <li>Services</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title">Frequent questions</li>
          <li>That cost has?</li>
          <li>What sixes do you carry?</li>
          <li>What payment wethods do you support?</li>
          <li>when they arrive?</li>
        </ul>
      </div>
      <div class="col-12 pt-5 text-center">
        <p class="copyright">© Bogotá Institute of Technology 2024</p>
      </div>
    </div>
  </div>
</footer>
