<main>
  <h1>Camiseta Lorem ipsum dolor sit amet.</h1>
  <div id="item-general-view">
    <img
      width="400px"
      src="https://tennis.vtexassets.com/arquivos/ids/2256917-1200-auto?v=638222835110930000&width=1200&height=auto&aspect=true"
      alt="imagen de prueba"
    />
    <div id="item-details">
      <h2>Camiseta tipo Lorem ipsum dolor sit.</h2>
      <div id="sizes">
        <h3>Tallas disponibles:</h3>
        <button type="button" class="btn btn-danger">S</button>
        <button type="button" class="btn btn-danger">M</button>
        <button type="button" class="btn btn-danger">L</button>
      </div>
      <div id="colors">
        <h3>Colores:</h3>
        <button type="button" class="btn btn-light">Blanco</button>
        <button type="button" class="btn btn-dark">Negro</button>
        <button type="button" class="btn btn-warning">Beige</button>
      </div>
      <p>
        Descripcion Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Vero repellendus voluptate odio porro fugiat esse itaque aspernatur
        reprehenderit distinctio maiores?
      </p>
      <div id="price">
        <h3>Precio: $00.000</h3>
        <button class="btn btn-primary" type="button">Añadir al carrito</button>
      </div>
    </div>
  </div>
  <div id="contact-us">
    <p>Nuestra linea de atención al cliente</p>
    <button></button>
  </div>
</main>
