<app-nav />
<main>
  <h1>Camisas Dama.</h1>
  <div id="item-general-view">
    <img
      width="400px"
      src="../../../assets/img/camisaNegraMLMujer.png"
      alt="imagen de prueba"
    />
    <div id="item-details">
      <h2>Camisa Negra Mujer M/L.</h2>
      <div id="sizes">
        <h3>Tallas disponibles:</h3>
        <button type="button" class="btn btn-danger">S</button>
        <button type="button" class="btn btn-danger">M</button>
        <button type="button" class="btn btn-danger">L</button>
      </div>
      <div id="colors">
        <h3>Colores:</h3>
        <button type="button" class="btn btn-light">Blanco</button>
        <button type="button" class="btn btn-dark">Negro</button>
        <button type="button" class="btn btn-warning">Beige</button>
      </div>
      <p>
        camisa en tela de popelina fina elastica con botones manga larga negro.
      </p>
      <div id="price">
        <h3>Precio: $50.00</h3>
        <button class="btn btn-primary" (click)="addToCart(product)">
          Añadir al carrito
        </button>
      </div>
    </div>
  </div>
  <div id="contact-us">
    <p>Nuestra linea de atención al cliente</p>
    <button></button>
  </div>
</main>
<app-footer />
