<app-nav />
<main>
  <h1>{{ products()?.name }}</h1>
  <h4>Referencia: {{ products().ref }}</h4>
  <div id="item-general-view">
    <img
      width="400px"
      [src]="'http://3.19.57.90:3000/uploads/' + products()?.image"
      [alt]="products()?.name"
    />
    <div id="item-details">
      <h2>{{ products()?.description }}</h2>
      <div id="sizes">
        <h3>Tallas disponibles:</h3>
        <button type="button" class="btn btn-danger">S</button>
        <button type="button" class="btn btn-danger">M</button>
        <button type="button" class="btn btn-danger">L</button>
      </div>
      <div id="colors">
        <h3>Colores:</h3>
        <button type="button" class="btn btn-light">Blanco</button>
        <button type="button" class="btn btn-dark">Negro</button>
        <button type="button" class="btn btn-warning">Beige</button>
      </div>
      <p>
        camisa en tela de popelina fina elastica con botones manga larga negro.
      </p>
      <div id="price">
        <h3>Precio: {{ products()?.price | currency }}</h3>
        <button class="btn btn-primary" (click)="addToCart(products())">
          Añadir al carrito
        </button>
      </div>
    </div>
  </div>
  <div id="contact-us">
    <p>Nuestra linea de atención al cliente</p>
    <button></button>
  </div>
</main>
<app-footer />
